* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lato', sans-serif;
}

:root {
    --brown: #59291c; 
    --white: #FFFFFF;
    --yellow: #FAAF18;
    --bege: #F5ECE7;
    --orenge: #ED7902;
    --blue: #475993;    
}

html {
    font-size: 62.5%;
}
.container {
    width: 100%;
    max-width: 124.9rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    all: unset;
    cursor: pointer;
}

header {
    width: 100%;
    height: 9rem;
    background-color: var(--white);
    display: flex;
    align-items: center;
    
    .container {
        display: flex;
        justify-content: space-between;        
    }
    nav {
        display: flex;
        align-items: center;
        gap: 7rem;
        
        ul {
        display: flex;
        align-items: center;
        gap: 7.7rem;

        li {
          a {
            display: flex;
            align-items: center;
            gap: 11px;

            span {
                color: #59291c;
                font-family: 'Ubuntu', sans-serif;
                font-size: 1.4rem;
                font-weight: bold;
                text-transform: uppercase;
            }
          }

          
        }
        }
    }
}

.s-hero {
    width: 100%;
    height: 62.3rem;
    background: linear-gradient(164deg, rgba(212, 86, 22, 0) 3.82%, #EFE1DA 90.95%);

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .left-container {
        padding-top: 12rem;
        flex: 1;
        max-width: 52.7rem;

        h3 {
            color: var(--yellow);
            font-family: 'Ubuntu', sans-serif;
            font-size: 3.2rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 2.2rem;
            display: flex;
            align-items: center;
            gap: 3.7rem;
            &:after {
                content: " ";
                flex: 1;
                max-width: 29rem;
                height: 2px;
                background: url('../img/line.svg') no-repeat center center;
                display: inline-block;
            }
        }
        .value {
            position: relative;
            margin-top: 2.5rem;
            display: flex;
            align-items: center;
            gap: 3.7rem;
            &:after {
                content: " ";
                background: url('../img/arrow-btn.svg') no-repeat center center;
                width: 4.3rem;
                height: 3.8rem;
                position: absolute;
                right: -67px;
                top: 30px;
            }
            h2 {
                color: var(--yellow);
                font-family: 'Ubuntu', sans-serif;
                font-size: 6.5rem;
                font-weight: bold;
                letter-spacing: 3px;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

            span {
                color: var(--brown);
                font-size: 1.3rem;
                font-weight: 700;
                line-height: 2.3rem;
                letter-spacing: -0.371px;
            }
            button {
                padding: 22px 52px;
                background-color: var(--brown);
                border-radius: 6px;
                box-shadow: 0px 10px 40px 0px rgba(89, 41, 28, 0.60);
                color: #FFF;
                font-family: 'Ubuntu', sans-serif;
                font-size: 1.6rem;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }    

    .right-container {
        position: relative;
        flex: 1;
        max-width: 52.8rem;
        height: 66.3rem;
        background-color: var(--yellow);
        border-radius: 0px 0px 12px 12px;
        padding-top: 9.5rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 3rem;
        .image {
            position: absolute;
            width: 68.4rem;
            height: 49.2rem;

            img {
                position: absolute;

                &.refri {
                    left: 0;
                    top: 2.5rem;
                    z-index: 1;
                }

                &.fritas {
                    top: 0;
                    right: 0;
                    z-index: 1;
                }

                &.lanche {
                    z-index: 2;
                    left: 5.2rem;
                    bottom: 0;
                }

                &.logo {
                    bottom: 6px;
                    right: 1rem;
                    z-index: 3;
                }
            }
        }

        .offer {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1.6rem;

            &:before {
                content: " ";
                width: 8rem;
                height: 1.4rem;
                background: url('../img/line-left.svg') no-repeat center center;
                display: inline-block;
            }

            &:after {
                content: " ";
                width: 8rem;
                height: 1.4rem;
                background: url('../img/line-left.svg') no-repeat center center;
                display: inline-block;
            }

            p {
                color: var(--white);
                font-size: 1.5rem;
                line-height: 2.3rem;
                display: flex;
                align-items: center;

                img {
                    margin-right: 1.6rem;
                }
                strong {
                    margin-left: 0.5rem; 
                }
            }
        }
    }
}

.s-offer {
    width: 100%;
    height: 20rem;
    background: url('../img/bg-login.png') no-repeat left center;
    padding-top: 4.7rem;
    padding-bottom: 3.2rem;
    display: flex;
    align-items: flex-end;

    .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;       
    }

    .left-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4.1rem;
        flex: 1;
        max-width: 59.7rem;

        h3 {
            color: var(--white);
            font-family: 'Ubuntu', sans-serif;
            font-size: 3.2rem;
            font-weight: bold;
            letter-spacing: -0.401px;
            margin-bottom: 0.5rem;
        }
        h2 {
            color: var(--brown);
            font-family: 'Ubuntu', sans-serif;
            font-size: 4.2rem;
            font-weight: bold;
            letter-spacing: -0.652px;
        }
    }

    button {
        flex: 1;
        border-radius: 12px;
        background-color: var(--white);
        margin-right: 3rem;
        max-width: 52.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.9rem;
        padding: 3rem 0;

        span {
            color: var(--blue);
            font-family: 'Ubuntu', sans-serif;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: -0.301px;
        }
    }
}

.s-combos {
    padding: 7rem 0;

    .highlights {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3.2rem;

        & > .box {
            width: 26.3rem !important;
            background-color: var(--yellow) !important;
        }

        .box {
            border-radius: 1.2rem;
            background-color: var(--bege);
            width: 21.8rem;
            height: 14.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 9px;

            h3 {
                color: #FFF;
                text-align: center;
                font-family: 'Ubuntu', sans-serif;
                font-size: 2.2rem;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        ul {
            flex: 1;
            max-width: 92.2rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1.6rem;
        }
    }

}